<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
</head>
<body>
  <div id="wrapper">
    <h1>Anonymous Notes</h1>
    <div id="top">
      <form (submit)="on_submit()" #formData='ngForm'>
        Note: <input type="text" name="content" required [(ngModel)]='note.content'>
        <input type="submit" value="Add Note" [disabled]='!note.content' id="submit">
      </form>
      {{note}}
    </div>
  </div>

  <app-notes-data></app-notes-data>
</body>
</html>